@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    
}

/* Common Styles  */
.btn-cmn{
    border: none;
    background-color: rgb(253, 110, 10);
    padding: 12px 24px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.btn-cmn2{
    border: 1px solid rgb(253, 110, 10);
    background-color: transparent;
    padding: 12px 24px;
    border-radius: 5px;
    color: rgb(253, 110, 10);;
    font-weight: 700;
}

header{
    background-image: url(./images/developer.png),url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left bottom,bottom right;
    background-size: auto 100%, auto 65%;

} 

/* Navbar */
nav h1{
    font-size: 30px;
}
nav{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 153px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    
}
nav ul li{
    margin-left:30px ;
}
nav ul li a{
    text-decoration: none;
    color: rgb(71, 71, 71);
   
}

/* bnr */
.bnr{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 40px 0 153px;

}
.bnr-txt{
    width: 398px;
}

.bnr-txt h1{
    font-size: 50px;
    padding: 15px 0;
}
.bnr-txt p{
    padding-bottom: 20px;
}